PROJECT-3. Решение комплексной бизнес-задачи
Студент Солодухина Е. П.

 ЗАДАЧИ (ФОРМАЛИЗОВАННЫЕ):
 
    1. Построить рекомендательную систему, благодаря которой можно будет предлагать клиентам интересные им курсы. Для этого потребуется подготовить и проанализировать имеющиеся данные.
    2. Составить итоговую таблицу с рекомендациями, снабдив её необходимыми комментариями, и представить  продакт-менеджеру.

Познакомимся с датасетом и подготовим данные при помощи SQL
 
select 
	c.table_schema,
	c.table_name,
	c.column_name,
	c.data_type,
	c.ordinal_position
from 
	information_schema.columns c
where 
	c.table_schema = 'final'
    
    Продажи за какие годы есть в наших данных?
                
Select distinct(extract (year from c.purchased_at))
from 
    final.carts c
join final.cart_items ci
    on c.id=ci.cart_id
where
    c.state='successful' and ci.resource_type='Course'
    
Результат: 2018, 2017
                
     Сколько клиентов покупали курсы?

Select count(distinct(c.user_id)) 
   from final.carts c
   join final.cart_items ci
   on c.id=ci.cart_id
   where c.state='successful' and ci.resource_type='Course'
   
Результат: 49006
    
    Сколько всего есть различных курсов?
    
Select count(distinct ci.resource_id)
   from final.cart_items as ci
   where ci.resource_type='Course'
   
Результат: 127
   
    Каково среднее число купленных курсов на одного клиента?
    
Select round(avg(f.res),2) from
(Select count (ci.resource_id)/count(distinct c.user_id) res
   from final.carts c
   inner join final.cart_items ci
   on c.id=ci.cart_id
   where c.state='successful' and ci.resource_type='Course'
   group by c.user_id)f
   
Результат: 1,44
   
    Сколько клиентов купили больше одного курса?
    
Select sum(f.id) from
(select count(distinct c.user_id) id
from final.carts c
inner join final.cart_items ci
   on c.id=ci.cart_id
where c.state='successful' and ci.resource_type='Course'
group by c.user_id
having count(distinct ci.resource_id)>1) f 

Результат: 12656

    Сформируем данные по продажам курсов в разрезе пользователей (по купившим больше одного курса)
    
with user_tab as (
   select c.user_id, count(ci.resource_id)
   from final.carts c
   inner join final.cart_items ci
   on c.id=ci.cart_id
   where c.state='successful' and ci.resource_type='Course'
   group by c.user_id
   having count(distinct ci.resource_id)>1
   )
   select c.user_id, ci.resource_id
   from final.carts c
   inner join final.cart_items ci
       on c.id=ci.cart_id
   inner join user_tab u
       on c.user_id=u.user_id
   where c.state='successful' and ci.resource_type='Course'
   
    Итак, полученные данные сохраняем в файл, далее перейдём к его анализу с помощью Python.

In [1]:
#Импортируем необходимые библиотеки, получаем данные из файлов
import pandas as pd 
import numpy as np
from itertools import combinations
from collections import Counter

In [2]:
final_df=pd.read_csv('final.csv')
final_df.head()

   user_id  resource_id
0  1010882          490
1   906674          357
2   160494          507
3   749529          489
4  1010802          514

In [3]:
final_df=final_df.drop_duplicates()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34074 entries, 0 to 34171
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34074 non-null  int64
 1   resource_id  34074 non-null  int64
dtypes: int64(2)
memory usage: 798.6 KB

In [4]:
#Произведём группировку, чтобы каждому пользователю соответствовал список всех купленных им курсов
df_grouped=final_df.groupby(by='user_id')['resource_id'].apply(lambda x:list(x)).reset_index()
df_grouped

       user_id                resource_id
0           51                [516, 1099]
1         6117           [1125, 356, 357]
2        10275                [553, 1147]
3        10457                [361, 1138]
4        17166                 [356, 357]
...        ...                        ...
12651  2179430                 [566, 750]
12652  2186581           [794, 1129, 864]
12653  2187601  [356, 912, 571, 765, 553]
12654  2188926                 [743, 515]
12655  2190141           [794, 756, 1185]

[12656 rows x 2 columns]

In [5]:
#Сколько различных пар курсов встречаются вместе в покупках клиентов?
courses_pairs =[]
for element in df_grouped['resource_id']:
    for pair in combinations(sorted(list(element)),2):
        courses_pairs.append(pair)
#Удаляем дубликаты
courses_pairs
print('Количество различных пар курсов составляет: ', len(set (courses_pairs)))

Количество различных пар курсов составляет:  3989

In [6]:
courses_pairs

[(516, 1099),
 (356, 357),
 (356, 1125),
 (357, 1125),
 (553, 1147),
 (361, 1138),
 (356, 357),
 (1125, 1140),
 (551, 745),
 (553, 745),
 (551, 1138),
 (553, 568),
 (514, 517),
 (514, 566),
 (517, 566),
 (363, 511),
 (363, 562),
 (363, 563),
 (511, 562),
 (511, 563),
 (562, 563),
 (568, 745),
 (509, 553),
 (509, 745),
 (553, 745),
 (1125, 1144),
 (509, 568),
 (509, 672),
 (568, 672),
 (516, 552),
 (356, 552),
 (357, 571),
 (568, 745),
 (509, 516),
 (509, 568),
 (516, 568),
 (513, 1141),
 (571, 1125),
 (551, 552),
 (551, 744),
 (551, 862),
 (551, 1138),
 (552, 744),
 (552, 862),
 (552, 1138),
 (744, 862),
 (744, 1138),
 (862, 1138),
 (361, 1138),
 (356, 679),
 (571, 745),
 (571, 1099),
 (745, 1099),
 (509, 516),
 (509, 568),
 (509, 1099),
 (516, 568),
 (516, 1099),
 (568, 1099),
 (517, 750),
 (800, 1125),
 (569, 840),
 (509, 568),
 (745, 1125),
 (509, 514),
 (509, 551),
 (509, 745),
 (514, 551),
 (514, 745),
 (551, 745),
 (571, 765),
 (745, 1187),
 (363, 566),
 (513, 1125),
 (1100, 1103),
 (502, 564),
 (502, 865),
 (502, 1103),
 (564, 865),
 (564, 1103),
 (865, 1103),
 (566, 764),
 (553, 568),
 (553, 745),
 (553, 1139),
 (568, 745),
 (568, 1139),
 (745, 1139),
 (357, 1125),
 (357, 1144),
 (1125, 1144),
 (1125, 1144),
 (1125, 1186),
 (1144, 1186),
 (366, 367),
 (366, 513),
 (367, 513),
 (519, 809),
 (517, 1100),
 (515, 1144),
 (356, 912),
 (356, 1125),
 (912, 1125),
 (489, 516),
 (356, 489),
 (356, 502),
 (356, 514),
 (356, 523),
 (489, 502),
 (489, 514),
 (489, 523),
 (502, 514),
 (502, 523),
 (514, 523),
 (765, 862),
 (765, 864),
 (862, 864),
 (356, 519),
 (356, 523),
 (356, 551),
 (356, 672),
 (356, 679),
 (356, 912),
 (519, 523),
 (519, 551),
 (519, 672),
 (519, 679),
 (519, 912),
 (523, 551),
 (523, 672),
 (523, 679),
 (523, 912),
 (551, 672),
 (551, 679),
 (551, 912),
 (672, 679),
 (672, 912),
 (679, 912),
 (564, 1100),
 (571, 765),
 (571, 912),
 (571, 1125),
 (765, 912),
 (765, 1125),
 (912, 1125),
 (519, 523),
 (519, 912),
 (523, 912),
 (745, 1099),
 (745, 1101),
 (745, 1139),
 (745, 1146),
 (745, 1147),
 (745, 1187),
 (1099, 1101),
 (1099, 1139),
 (1099, 1146),
 (1099, 1147),
 (1099, 1187),
 (1101, 1139),
 (1101, 1146),
 (1101, 1147),
 (1101, 1187),
 (1139, 1146),
 (1139, 1147),
 (1139, 1187),
 (1146, 1147),
 (1146, 1187),
 (1147, 1187),
 (366, 516),
 (366, 519),
 (366, 1125),
 (516, 519),
 (516, 1125),
 (519, 1125),
 (519, 552),
 (519, 1100),
 (552, 1100),
 (912, 1099),
 (502, 514),
 (357, 366),
 (356, 357),
 (356, 571),
 (357, 571),
 (516, 553),
 (516, 745),
 (553, 745),
 (566, 776),
 (566, 1125),
 (566, 1144),
 (776, 1125),
 (776, 1144),
 (1125, 1144),
 (517, 551),
 (517, 571),
 (517, 1144),
 (551, 571),
 (551, 1144),
 (571, 1144),
 (519, 553),
 (519, 745),
 (553, 745),
 (509, 551),
 (509, 553),
 (509, 568),
 (509, 745),
 (509, 1099),
 (509, 1139),
 (551, 553),
 (551, 568),
 (551, 745),
 (551, 1099),
 (551, 1139),
 (553, 568),
 (553, 745),
 (553, 1099),
 (553, 1139),
 (568, 745),
 (568, 1099),
 (568, 1139),
 (745, 1099),
 (745, 1139),
 (1099, 1139),
 (514, 568),
 (568, 1099),
 (523, 551),
 (523, 745),
 (523, 1187),
 (551, 745),
 (551, 1187),
 (745, 1187),
 (566, 571),
 (516, 553),
 (516, 568),
 (553, 568),
 (571, 1125),
 (519, 571),
 (519, 765),
 (519, 912),
 (519, 1125),
 (571, 765),
 (571, 912),
 (571, 1125),
 (765, 912),
 (765, 1125),
 (912, 1125),
 (519, 568),
 (523, 671),
 (523, 753),
 (671, 753),
 (502, 523),
 (502, 551),
 (502, 566),
 (502, 1100),
 (523, 551),
 (523, 566),
 (523, 1100),
 (551, 566),
 (551, 1100),
 (566, 1100),
 (357, 571),
 (357, 765),
 (571, 765),
 (515, 1186),
 (489, 515),
 (489, 519),
 (489, 571),
 (489, 829),
 (515, 519),
 (515, 571),
 (515, 829),
 (519, 571),
 (519, 829),
 (571, 829),
 (551, 571),
 (490, 515),
 (516, 553),
 (568, 745),
 (568, 1099),
 (568, 1139),
 (745, 1099),
 (745, 1139),
 (1099, 1139),
 (764, 1102),
 (515, 765),
 (356, 366),
 (489, 509),
 (489, 519),
 (489, 523),
 (489, 551),
 (489, 552),
 (489, 553),
 (489, 564),
 (489, 568),
 (489, 571),
 (489, 679),
 (489, 745),
 (489, 1099),
 (509, 519),
 (509, 523),
 (509, 551),
 (509, 552),
 (509, 553),
 (509, 564),
 (509, 568),
 (509, 571),
 (509, 679),
 (509, 745),
 (509, 1099),
 (519, 523),
 (519, 551),
 (519, 552),
 (519, 553),
 (519, 564),
 (519, 568),
 (519, 571),
 (519, 679),
 (519, 745),
 (519, 1099),
 (523, 551),
 (523, 552),
 (523, 553),
 (523, 564),
 (523, 568),
 (523, 571),
 (523, 679),
 (523, 745),
 (523, 1099),
 (551, 552),
 (551, 553),
 (551, 564),
 (551, 568),
 (551, 571),
 (551, 679),
 (551, 745),
 (551, 1099),
 (552, 553),
 (552, 564),
 (552, 568),
 (552, 571),
 (552, 679),
 (552, 745),
 (552, 1099),
 (553, 564),
 (553, 568),
 (553, 571),
 (553, 679),
 (553, 745),
 (553, 1099),
 (564, 568),
 (564, 571),
 (564, 679),
 (564, 745),
 (564, 1099),
 (568, 571),
 (568, 679),
 (568, 745),
 (568, 1099),
 (571, 679),
 (571, 745),
 (571, 1099),
 (679, 745),
 (679, 1099),
 (745, 1099),
 (552, 571),
 (552, 1125),
 (571, 1125),
 (523, 551),
 (523, 571),
 (523, 776),
 (523, 912),
 (551, 571),
 (551, 776),
 (551, 912),
 (571, 776),
 (571, 912),
 (776, 912),
 (571, 753),
 (502, 514),
 (502, 571),
 (502, 764),
 (502, 1125),
 (514, 571),
 (514, 764),
 (514, 1125),
 (571, 764),
 (571, 1125),
 (764, 1125),
 (490, 523),
 (490, 551),
 (490, 571),
 (490, 765),
 (490, 803),
 (490, 912),
 (490, 1125),
 (523, 551),
 (523, 571),
 (523, 765),
 (523, 803),
 (523, 912),
 (523, 1125),
 (551, 571),
 (551, 765),
 (551, 803),
 (551, 912),
 (551, 1125),
 (571, 765),
 (571, 803),
 (571, 912),
 (571, 1125),
 (765, 803),
 (765, 912),
 (765, 1125),
 (803, 912),
 (803, 1125),
 (912, 1125),
 (357, 523),
 (357, 551),
 (357, 552),
 (357, 571),
 (357, 659),
 (357, 764),
 (357, 765),
 (357, 776),
 (357, 829),
 (357, 909),
 (357, 912),
 (357, 1125),
 (523, 551),
 (523, 552),
 (523, 571),
 (523, 659),
 (523, 764),
 (523, 765),
 (523, 776),
 (523, 829),
 (523, 909),
 (523, 912),
 (523, 1125),
 (551, 552),
 (551, 571),
 (551, 659),
 (551, 764),
 (551, 765),
 (551, 776),
 (551, 829),
 (551, 909),
 (551, 912),
 (551, 1125),
 (552, 571),
 (552, 659),
 (552, 764),
 (552, 765),
 (552, 776),
 (552, 829),
 (552, 909),
 (552, 912),
 (552, 1125),
 (571, 659),
 (571, 764),
 (571, 765),
 (571, 776),
 (571, 829),
 (571, 909),
 (571, 912),
 (571, 1125),
 (659, 764),
 (659, 765),
 (659, 776),
 (659, 829),
 (659, 909),
 (659, 912),
 (659, 1125),
 (764, 765),
 (764, 776),
 (764, 829),
 (764, 909),
 (764, 912),
 (764, 1125),
 (765, 776),
 (765, 829),
 (765, 909),
 (765, 912),
 (765, 1125),
 (776, 829),
 (776, 909),
 (776, 912),
 (776, 1125),
 (829, 909),
 (829, 912),
 (829, 1125),
 (909, 912),
 (909, 1125),
 (912, 1125),
 (553, 745),
 (553, 1187),
 (515, 523),
 (515, 552),
 (515, 566),
 (523, 552),
 (523, 566),
 (552, 566),
 (516, 745),
 (516, 1103),
 (745, 1103),
 (509, 553),
 (509, 568),
 (509, 745),
 (509, 1139),
 (509, 1147),
 (553, 568),
 (553, 745),
 (553, 1139),
 (553, 1147),
 (568, 745),
 (568, 1139),
 (568, 1147),
 (745, 1139),
 (745, 1147),
 (1139, 1147),
 (361, 551),
 (361, 672),
 (361, 745),
 (551, 672),
 (551, 745),
 (672, 745),
 (571, 1125),
 (509, 672),
 (509, 1099),
 (509, 1138),
 (672, 1099),
 (672, 1138),
 (1099, 1138),
 (489, 514),
 (489, 551),
 (489, 552),
 (489, 571),
 (489, 912),
 (489, 1100),
 (514, 551),
 (514, 552),
 (514, 571),
 (514, 912),
 (514, 1100),
 (551, 552),
 (551, 571),
 (551, 912),
 (551, 1100),
 (552, 571),
 (552, 912),
 (552, 1100),
 (571, 912),
 (571, 1100),
 (912, 1100),
 (571, 1125),
 (553, 568),
 (553, 745),
 (553, 1099),
 (553, 1187),
 (568, 745),
 (568, 1099),
 (568, 1187),
 (745, 1099),
 (745, 1187),
 (1099, 1187),
 (502, 566),
 (551, 571),
 (571, 1144),
 (515, 553),
 (515, 568),
 (515, 745),
 (553, 568),
 (553, 745),
 (568, 745),
 (679, 745),
 (679, 1099),
 (745, 1099),
 (745, 829),
 (553, 568),
 (553, 745),
 (553, 1099),
 (568, 745),
 (568, 1099),
 (745, 1099),
 (750, 765),
 (750, 794),
 (765, 794),
 (361, 1100),
 (361, 1186),
 (1100, 1186),
 (523, 551),
 (523, 679),
 (551, 679),
 (361, 551),
 (361, 765),
 (551, 765),
 (516, 745),
 (516, 553),
 (516, 745),
 (553, 745),
 (571, 765),
 (571, 776),
 (765, 776),
 (571, 912),
 (566, 745),
 (552, 909),
 (552, 912),
 (552, 1186),
 (909, 912),
 (909, 1186),
 (912, 1186),
 (571, 1100),
 (509, 1099),
 (518, 523),
 (518, 551),
 (518, 552),
 (518, 553),
 (518, 564),
 (518, 566),
 (518, 568),
 (518, 571),
 (523, 551),
 (523, 552),
 (523, 553),
 (523, 564),
 (523, 566),
 (523, 568),
 (523, 571),
 (551, 552),
 (551, 553),
 (551, 564),
 (551, 566),
 (551, 568),
 (551, 571),
 (552, 553),
 (552, 564),
 (552, 566),
 (552, 568),
 (552, 571),
 (553, 564),
 (553, 566),
 (553, 568),
 (553, 571),
 (564, 566),
 (564, 568),
 (564, 571),
 (566, 568),
 (566, 571),
 (568, 571),
 (553, 1187),
 (490, 523),
 (571, 907),
 (571, 1125),
 (907, 1125),
 (509, 519),
 (745, 1139),
 (515, 517),
 (515, 551),
 (515, 1144),
 (517, 551),
 (517, 1144),
 (551, 1144),
 (553, 1139),
 (514, 862),
 (514, 1144),
 (862, 1144),
 (517, 553),
 (517, 745),
 (553, 745),
 (516, 553),
 (516, 745),
 (516, 1099),
 (745, 1099),
 (366, 745),
 (552, 571),
 (356, 367),
 (356, 490),
 (356, 514),
 (356, 571),
 (367, 490),
 (367, 514),
 (367, 571),
 (490, 514),
 (490, 571),
 (514, 571),
 (356, 366),
 (356, 367),
 (356, 489),
 (356, 490),
 (356, 551),
 (356, 571),
 (356, 765),
 (366, 367),
 (366, 489),
 (366, 490),
 (366, 551),
 (366, 571),
 (366, 765),
 (367, 489),
 (367, 490),
 (367, 551),
 (367, 571),
 (367, 765),
 (489, 490),
 (489, 551),
 (489, 571),
 (489, 765),
 (490, 551),
 (490, 571),
 (490, 765),
 (551, 571),
 (551, 765),
 (571, 765),
 (551, 745),
 (777, 1102),
 (568, 745),
 (568, 1099),
 (745, 1099),
 (516, 568),
 (516, 745),
 (516, 1099),
 (516, 1139),
 (568, 745),
 (568, 1099),
 (568, 1139),
 (745, 1099),
 (745, 1139),
 (1099, 1139),
 (516, 745),
 (551, 1125),
 (516, 745),
 (516, 1125),
 (745, 1125),
 (745, 1099),
 (516, 568),
 (516, 908),
 (516, 1099),
 (568, 908),
 (568, 1099),
 (908, 1099),
 (571, 765),
 (571, 912),
 (765, 912),
 (357, 571),
 (360, 509),
 (360, 745),
 (360, 1139),
 (509, 745),
 (509, 1139),
 (745, 1139),
 (659, 813),
 (360, 366),
 (360, 509),
 (360, 777),
 (360, 835),
 (360, 1099),
 (360, 1100),
 (360, 1187),
 (366, 509),
 (366, 777),
 (366, 835),
 (366, 1099),
 (366, 1100),
 (366, 1187),
 (509, 777),
 (509, 835),
 (509, 1099),
 (509, 1100),
 (509, 1187),
 (777, 835),
 (777, 1099),
 (777, 1100),
 (777, 1187),
 (835, 1099),
 (835, 1100),
 (835, 1187),
 (1099, 1100),
 (1099, 1187),
 (1100, 1187),
 (571, 1103),
 (571, 1125),
 (571, 1144),
 (1103, 1125),
 (1103, 1144),
 (1125, 1144),
 (509, 517),
 (509, 777),
 (517, 777),
 (356, 357),
 (509, 516),
 (489, 515),
 (489, 551),
 (489, 679),
 (489, 777),
 (515, 551),
 (515, 679),
 (515, 777),
 (551, 679),
 (551, 777),
 (679, 777),
 (745, 1100),
 (745, 1103),
 (1100, 1103),
 (515, 516),
 (515, 551),
 (515, 552),
 (515, 1099),
 (515, 1187),
 (516, 551),
 (516, 552),
 (516, 1099),
 (516, 1187),
 (551, 552),
 (551, 1099),
 (551, 1187),
 (552, 1099),
 (552, 1187),
 (1099, 1187),
 (515, 516),
 (515, 519),
 (516, 519),
 (515, 523),
 (357, 366),
 (568, 745),
 (568, 1099),
 (568, 1139),
 (745, 1099),
 (745, 1139),
 (1099, 1139),
 (777, 912),
 (777, 1103),
 (912, 1103),
 (523, 552),
 (523, 564),
 (523, 571),
 (523, 1125),
 (552, 564),
 (552, 571),
 (552, 1125),
 (564, 571),
 (564, 1125),
 (571, 1125),
 (366, 519),
 (519, 551),
 (551, 571),
 (571, 1125),
 (516, 553),
 (516, 745),
 (553, 745),
 (571, 912),
 (571, 1103),
 (571, 1125),
 (912, 1103),
 (912, 1125),
 (1103, 1125),
 (490, 523),
 (490, 551),
 (490, 1144),
 (523, 551),
 (523, 1144),
 (551, 1144),
 (568, 1099),
 (515, 571),
 (489, 523),
 (489, 552),
 (489, 564),
 (489, 741),
 (489, 752),
 (489, 814),
 (489, 829),
 (489, 1115),
 (489, 1116),
 (489, 1161),
 (523, 552),
 (523, 564),
 (523, 741),
 (523, 752),
 (523, 814),
 (523, 829),
 (523, 1115),
 (523, 1116),
 (523, 1161),
 (552, 564),
 (552, 741),
 (552, 752),
 (552, 814),
 (552, 829),
 (552, 1115),
 (552, 1116),
 (552, 1161),
 (564, 741),
 (564, 752),
 (564, 814),
 (564, 829),
 (564, 1115),
 (564, 1116),
 (564, 1161),
 (741, 752),
 (741, 814),
 (741, 829),
 (741, 1115),
 (741, 1116),
 (741, 1161),
 (752, 814),
 (752, 829),
 (752, 1115),
 (752, 1116),
 (752, 1161),
 (814, 829),
 (814, 1115),
 (814, 1116),
 (814, 1161),
 (829, 1115),
 (829, 1116),
 (829, 1161),
 (1115, 1116),
 (1115, 1161),
 (1116, 1161),
 (515, 552),
 (515, 672),
 (552, 672),
 (356, 357),
 (489, 516),
 (489, 553),
 (489, 745),
 (516, 553),
 (516, 745),
 (553, 745),
 (553, 1099),
 (553, 1139),
 (1099, 1139),
 (551, 777),
 (515, 553),
 (551, 672),
 (509, 745),
 (509, 1139),
 (745, 1139),
 (571, 865),
 (571, 912),
 (865, 912),
 (659, 745),
 (509, 553),
 (509, 745),
 (553, 745),
 (515, 523),
 (515, 909),
 (523, 909),
 (571, 765),
 (361, 517),
 (361, 745),
 (517, 745),
 (745, 1099),
 (745, 1139),
 (745, 1187),
 (1099, 1139),
 (1099, 1187),
 (1139, 1187),
 (515, 566),
 (516, 745),
 (357, 516),
 (571, 1125),
 (489, 571),
 (489, 863),
 (489, 1100),
 (571, 863),
 (571, 1100),
 (863, 1100),
 (566, 794),
 (523, 750),
 (553, 745),
 (553, 1099),
 (553, 1139),
 (553, 1147),
 (745, 1099),
 (745, 1139),
 (745, 1147),
 (1099, 1139),
 (1099, 1147),
 (1139, 1147),
 (745, 1099),
 (745, 1139),
 (1099, 1139),
 (361, 523),
 (361, 551),
 (361, 672),
 (361, 743),
 (361, 1147),
 (523, 551),
 (523, 672),
 (523, 743),
 (523, 1147),
 (551, 672),
 (551, 743),
 (551, 1147),
 (672, 743),
 (672, 1147),
 (743, 1147),
 (562, 563),
 (357, 517),
 (777, 794),
 ...]

In [7]:
popular=Counter([pair for pair in courses_pairs])
#Какая самая популярная пара курсов?
{k: v for k, v in popular.items() if v == max(popular.values())}

{(551, 566): 797}

In [8]:
df_cp = pd.DataFrame(courses_pairs,  columns=['cource_1', 'course_2']).astype(str)
df_cp.drop_duplicates()
df_cp['pair'] = df_cp['cource_1'] + "," + df_cp['course_2']
df_cp.describe(include='all')
df_cp

      cource_1 course_2      pair
0          516     1099  516,1099
1          356      357   356,357
2          356     1125  356,1125
3          357     1125  357,1125
4          553     1147  553,1147
...        ...      ...       ...
40012      765      912   765,912
40013      515      743   515,743
40014      756      794   756,794
40015      756     1185  756,1185
40016      794     1185  794,1185

[40017 rows x 3 columns]

In [9]:
grouped_cp=df_cp.groupby(by='pair').count()
grouped_cp=grouped_cp.reset_index()
grouped_cp=grouped_cp[['pair', 'cource_1']].rename(columns={'cource_1':'count'})
grouped_cp

           pair  count
0     1099,1100      5
1     1099,1101      2
2     1099,1102      2
3     1099,1103      4
4     1099,1125      4
...         ...    ...
3984   912,1144      2
3985   912,1156      1
3986   912,1186      9
3987   912,1187      1
3988   912,1198      3

[3989 rows x 2 columns]

In [10]:
#Оставим для анализа пары курсов, поввторяющиеся большее количество раз, для этого зададим 90 процентиль 
x=np.percentile(grouped_cp['count'], 90)
x

22.0

In [11]:
popular_pairs1= {k: v for k, v in sorted(popular.items(), key = lambda item: item[1], reverse = True) if v>x}
popular_pairs1

{(551, 566): 797,
 (515, 551): 417,
 (489, 551): 311,
 (523, 551): 304,
 (566, 794): 290,
 (489, 515): 286,
 (490, 566): 253,
 (490, 551): 247,
 (570, 752): 247,
 (569, 572): 216,
 (515, 523): 213,
 (553, 745): 212,
 (489, 523): 206,
 (569, 840): 204,
 (514, 551): 200,
 (516, 745): 199,
 (515, 566): 195,
 (489, 566): 188,
 (504, 572): 184,
 (572, 840): 178,
 (551, 552): 177,
 (507, 570): 172,
 (490, 809): 163,
 (489, 490): 152,
 (507, 752): 150,
 (523, 552): 144,
 (490, 515): 143,
 (551, 570): 142,
 (504, 569): 139,
 (514, 515): 139,
 (551, 745): 138,
 (514, 566): 138,
 (502, 551): 135,
 (504, 840): 135,
 (571, 1125): 122,
 (502, 566): 120,
 (523, 566): 120,
 (570, 809): 119,
 (752, 809): 115,
 (490, 523): 114,
 (357, 571): 112,
 (523, 564): 110,
 (551, 749): 109,
 (516, 553): 107,
 (551, 777): 107,
 (551, 679): 104,
 (356, 571): 103,
 (551, 564): 103,
 (515, 749): 103,
 (568, 745): 102,
 (356, 357): 100,
 (363, 511): 99,
 (551, 571): 98,
 (551, 809): 96,
 (502, 514): 95,
 (551, 794): 95,
 (490, 514): 94,
 (566, 764): 92,
 (490, 564): 92,
 (566, 570): 92,
 (551, 764): 91,
 (489, 552): 89,
 (502, 515): 89,
 (515, 552): 88,
 (519, 551): 86,
 (489, 564): 86,
 (515, 764): 84,
 (507, 551): 84,
 (553, 568): 83,
 (571, 765): 83,
 (514, 523): 83,
 (564, 566): 83,
 (566, 809): 79,
 (489, 514): 78,
 (507, 809): 78,
 (363, 562): 77,
 (489, 679): 77,
 (551, 1103): 76,
 (571, 912): 74,
 (504, 551): 73,
 (570, 1115): 73,
 (519, 523): 72,
 (552, 564): 72,
 (516, 551): 72,
 (551, 752): 72,
 (566, 749): 70,
 (752, 1115): 69,
 (507, 566): 68,
 (745, 1139): 67,
 (489, 502): 67,
 (523, 679): 67,
 (515, 564): 67,
 (490, 794): 67,
 (552, 566): 66,
 (566, 745): 66,
 (515, 794): 66,
 (504, 566): 66,
 (840, 1161): 65,
 (489, 809): 65,
 (490, 743): 65,
 (551, 750): 64,
 (514, 552): 63,
 (366, 551): 63,
 (566, 1103): 62,
 (523, 570): 62,
 (489, 519): 61,
 (514, 764): 61,
 (551, 572): 61,
 (507, 508): 61,
 (514, 570): 60,
 (503, 551): 60,
 (509, 745): 59,
 (502, 523): 59,
 (523, 764): 59,
 (523, 572): 59,
 (551, 840): 59,
 (507, 514): 58,
 (523, 571): 57,
 (566, 679): 57,
 (489, 764): 57,
 (809, 1115): 57,
 (523, 809): 57,
 (551, 664): 56,
 (511, 562): 55,
 (912, 1125): 55,
 (515, 519): 55,
 (566, 750): 55,
 (551, 569): 55,
 (503, 513): 55,
 (489, 794): 55,
 (516, 568): 54,
 (566, 571): 54,
 (523, 752): 54,
 (508, 570): 54,
 (562, 563): 53,
 (745, 1099): 53,
 (568, 1099): 53,
 (357, 1125): 52,
 (517, 551): 52,
 (552, 679): 51,
 (551, 776): 51,
 (357, 551): 51,
 (515, 679): 51,
 (551, 741): 51,
 (551, 659): 50,
 (566, 752): 50,
 (564, 809): 50,
 (514, 809): 50,
 (519, 552): 49,
 (361, 551): 49,
 (509, 553): 48,
 (356, 551): 48,
 (566, 757): 48,
 (515, 570): 48,
 (502, 794): 48,
 (509, 568): 46,
 (367, 551): 46,
 (490, 764): 46,
 (515, 777): 45,
 (523, 777): 45,
 (366, 515): 45,
 (356, 1125): 44,
 (569, 1161): 44,
 (366, 523): 44,
 (490, 502): 44,
 (551, 553): 43,
 (523, 745): 43,
 (523, 840): 43,
 (566, 569): 43,
 (508, 752): 43,
 (765, 1125): 42,
 (515, 516): 42,
 (750, 753): 42,
 (489, 570): 42,
 (679, 777): 41,
 (507, 1115): 41,
 (551, 562): 41,
 (566, 572): 41,
 (361, 1138): 40,
 (514, 752): 40,
 (503, 664): 40,
 (503, 1140): 40,
 (566, 840): 40,
 (515, 809): 40,
 (566, 741): 40,
 (490, 570): 40,
 (553, 1099): 39,
 (551, 1100): 39,
 (515, 571): 39,
 (518, 551): 39,
 (489, 777): 39,
 (566, 777): 39,
 (794, 809): 39,
 (749, 794): 39,
 (514, 745): 38,
 (357, 765): 38,
 (366, 489): 38,
 (367, 515): 38,
 (523, 569): 38,
 (513, 551): 38,
 (564, 679): 37,
 (489, 741): 37,
 (552, 777): 37,
 (502, 552): 37,
 (551, 672): 36,
 (514, 571): 36,
 (908, 1100): 36,
 (1100, 1102): 36,
 (515, 1103): 36,
 (514, 794): 36,
 (504, 514): 36,
 (503, 566): 36,
 (509, 516): 35,
 (356, 514): 35,
 (489, 571): 35,
 (356, 765): 35,
 (523, 794): 35,
 (489, 1103): 35,
 (523, 1103): 35,
 (794, 1103): 35,
 (502, 570): 35,
 (490, 518): 35,
 (514, 564): 35,
 (519, 566): 35,
 (513, 1141): 34,
 (517, 750): 34,
 (356, 912): 34,
 (765, 912): 34,
 (551, 829): 34,
 (523, 750): 34,
 (745, 794): 34,
 (551, 791): 34,
 (551, 757): 34,
 (490, 757): 34,
 (742, 1141): 34,
 (363, 563): 33,
 (1100, 1103): 33,
 (502, 764): 33,
 (523, 741): 33,
 (552, 572): 33,
 (570, 755): 33,
 (552, 750): 33,
 (514, 572): 33,
 (363, 551): 33,
 (490, 1103): 33,
 (745, 1187): 32,
 (523, 1100): 32,
 (552, 764): 32,
 (515, 745): 32,
 (361, 502): 32,
 (515, 750): 32,
 (566, 756): 32,
 (809, 908): 32,
 (551, 756): 32,
 (509, 1099): 31,
 (564, 1100): 31,
 (552, 570): 31,
 (515, 664): 31,
 (504, 515): 31,
 (552, 829): 30,
 (679, 764): 30,
 (564, 794): 30,
 (490, 552): 30,
 (551, 1115): 30,
 (566, 829): 30,
 (750, 829): 30,
 (516, 566): 30,
 (566, 776): 29,
 (519, 745): 29,
 (489, 752): 29,
 (564, 764): 29,
 (840, 1145): 29,
 (368, 572): 29,
 (514, 777): 29,
 (502, 564): 28,
 (489, 745): 28,
 (518, 523): 28,
 (366, 490): 28,
 (564, 741): 28,
 (489, 504): 28,
 (489, 517): 28,
 (551, 753): 28,
 (357, 514): 28,
 (514, 679): 28,
 (507, 515): 28,
 (489, 908): 28,
 (572, 1161): 28,
 (523, 562): 28,
 (764, 794): 28,
 (809, 1100): 28,
 (562, 777): 28,
 (504, 523): 28,
 (553, 1139): 27,
 (1125, 1186): 27,
 (571, 1144): 27,
 (523, 829): 27,
 (553, 1187): 27,
 (777, 794): 27,
 (517, 523): 27,
 (752, 1184): 27,
 (514, 757): 27,
 (368, 569): 27,
 (504, 794): 27,
 (743, 757): 27,
 (356, 489): 26,
 (745, 1147): 26,
 (552, 571): 26,
 (515, 517): 26,
 (552, 840): 26,
 (502, 776): 26,
 (564, 908): 26,
 (507, 1184): 26,
 (570, 1184): 26,
 (515, 569): 26,
 (570, 794): 26,
 (566, 908): 26,
 (502, 809): 26,
 (366, 566): 26,
 (551, 1152): 26,
 (514, 840): 26,
 (516, 1099): 25,
 (366, 367): 25,
 (489, 516): 25,
 (519, 679): 25,
 (672, 745): 25,
 (552, 741): 25,
 (552, 752): 25,
 (564, 814): 25,
 (516, 523): 25,
 (489, 507): 25,
 (514, 1103): 25,
 (515, 741): 25,
 (664, 791): 25,
 (515, 518): 25,
 (515, 752): 25,
 (358, 570): 25,
 (566, 791): 25,
 (562, 566): 25,
 (490, 1152): 25,
 (552, 756): 25,
 (356, 523): 24,
 (552, 1100): 24,
 (551, 568): 24,
 (566, 1100): 24,
 (564, 571): 24,
 (523, 776): 24,
 (551, 1125): 24,
 (357, 912): 24,
 (523, 909): 24,
 (750, 794): 24,
 (552, 794): 24,
 (566, 664): 24,
 (515, 572): 24,
 (552, 809): 24,
 (502, 504): 24,
 (566, 743): 24,
 (519, 571): 23,
 (551, 765): 23,
 (361, 672): 23,
 (523, 1115): 23,
 (504, 552): 23,
 (502, 679): 23,
 (517, 753): 23,
 (1100, 1101): 23,
 (517, 552): 23,
 (679, 741): 23,
 (366, 552): 23,
 (551, 814): 23,
 (514, 750): 23,
 (515, 840): 23,
 (764, 777): 23,
 (502, 507): 23,
 (368, 504): 23,
 (368, 523): 23,
 (515, 757): 23,
 (764, 809): 23,
 (515, 756): 23,
 (368, 840): 23,
 (357, 502): 23,
 (489, 749): 23}

In [12]:
# Создадим функцию recommend, которая будет рекомендовать 1-ый и 2-ой по популярности курс к основному курсу:
def recommend(course):
    course_list = []
    for i in popular_pairs1.keys():
        if i[0] == course:
            course_list.append((i, popular_pairs1[i]))
    sorted_course_list = sorted(course_list, key = lambda x: x[1], reverse = True)
    return sorted_course_list[:2] #выводим только два значения

In [13]:
course = final_df['resource_id'].unique()

In [14]:
#Заведём переменную с парой самых популярных курсов для вывода значений по умолчанию вместо Nan рекомендаций
s={k: v for k, v in popular.items() if v == max(popular_pairs1.values())}
for d in s.keys():
    print(d)

(551, 566)

In [15]:
# Создадим цикл, который для каждого основного курса извлекает 2-ое значение пары согласно уникальным значениям курсов:
#По умолчанию вместо Nan значений используем данные самых продаваемых курсов
recommended_courses1 = pd.DataFrame(columns = ['Рекомендация № 1', 'Рекомендация № 2'])
for i in course:
    if len(recommend(i)) == 2: #когда функция выдаёт 2 рекомендации
        recommended_courses1.loc[i] = [recommend(i)[0][0][1], recommend(i)[1][0][1]] 
    elif len(recommend(i)) == 1: #когда функция выдаёт 1 рекомендацию  и одно значение по умолчанию вместо Nan
            recommended_courses1.loc[i] = [recommend(i)[0][0][1], d[1]]
    else:
        recommended_courses1.loc[i] = [d[0], d[1]]  #когда функция выдаёт два значения по умолчанию

recommended_courses1

     Рекомендация № 1 Рекомендация № 2
490               566              551
357               571             1125
507               570              752
489               551              515
514               551              515
...               ...              ...
1198              551              566
1199              551              566
902               551              566
1160              551              566
1201              551              566

[126 rows x 2 columns]

In [16]:
#Проверим получившиеся данные на наличие пустых значений
b =  recommended_courses1.isnull().sum().sum()
b

0

In [17]:
#Создадим итоговую таблицу с основным курсом и двумя рекомендациями
recommended=recommended_courses1.reset_index().rename(columns={'index':'Основной курс'})
recommended

     Основной курс Рекомендация № 1 Рекомендация № 2
0              490              566              551
1              357              571             1125
2              507              570              752
3              489              551              515
4              514              551              515
..             ...              ...              ...
121           1198              551              566
122           1199              551              566
123            902              551              566
124           1160              551              566
125           1201              551              566

[126 rows x 3 columns]

In [18]:
#Сохраним получившийся датафрейм в Excel для отправки таблицы с рекомендациями продакт-менеджеру и в отдел маркетинга
for_printing = pd.ExcelWriter('Recomendations.xlsx')
recommended.to_excel(for_printing)
for_printing.save()

Итак, в итоговой таблице мы собрали основной курс с двумя рекомендациями. Задали минимальный порог вхождения, чтобы исключить рекомендации, которые встречаются слишком мало раз. И вместо таких малопопулярных курсов вывели два самых популярных в рекомендациях, тем самым желая увеличить средний чек в целом.

Если исключить рекомендацию самых популярных курсов вовсе, то это может отрицательно сказаться на продажах.